body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background: -webkit-linear-gradient(to left, #253c55, #cedfee);
    background: linear-gradient(to left, #dc8c98, #4d2026);
    font-size: 14px;
    margin: 100px;
    background-image: url(../imagenes/flor.jpg);
    


  }
  h1{
    background-color: #9d5d5d;
    color: #e8e6e7;
    text-align: center;
    padding: 30px;
  }
  
  h2{
    background-color: #2d131c;
    color: #e8e6e7;
    text-align: center;
    padding: 30px;
  }
  
   .img{
    border-radius: 60% ;
    width: 100px;
    height: 50px;
   }
   h3{
    background-color: #30151c;
    color: #e8e6e7;
    text-align: center;
    padding: 30px;
  }
  
  
  
  
  img{
    border-radius: 5%;
    width: 100px;
    height: 50px;
    display: block; 
    margin-left: auto; 
    margin-right: auto  ;
  }
  
      #contenedor {
      max-width: 1300px;
      margin: 0 auto;
      background-color: #1f3030;
      box-shadow: 0 0 10px rgba(182, 146, 146, 0.842);
      padding: 15px;
    }
    .cabecera {
      color: #e83232;
      text-align: center;
      margin: 20px;
    }
     
    nav {
      margin-top: 10px;
      }
      nav a {
        color: rgb(231, 227, 227);
        text-decoration: none;
        margin: 0 15px;
      }
        .menu ul {
        overflow: hidden; 
        list-style: none;
        }
        .menu li{
        display: inline;
        float: left;
        }
        .menu li a {
        background-color: #2d1314;;
        color: #ece4e4;
        text-decoration: none;
        padding: 40px 55px;
        display: block;
        text-align: center;
         font-size: 16px;
        }
    
  
    
    img{
        display: block;
        margin: center;
        width: 700px;
       height: 400px;
    }





    
    
    table,td,th{
      border: 1px solid rgb(23, 2, 2);
      border-collapse: collapse;
      padding: 60px;
      margin: 70px auto;
      width: 60px;
      background: linear-gradient(to left, #814e54, #d69fa7);
      
      
      }
      th{
         background-color: #a06262;
          color: #f2ecec;
      }
      tr:nth-child(even){
          background-color: #eca2b1;
      }







    footer {
      background-color: #532a2c;
      text-align: center;
      color: #ffffff;
      padding: 10px 0;
      margin-top: 20px;
     
    }
     
    button {
      border-radius: 10px;
      border: none;
      cursor: pointer;
     padding: 10px;
     color: #494d4c;
     transition: .3s ease all;
      
      }
      
      button:hover {
      background: #3f3f3c;
      color: #574e54;
      box-shadow: 3px 3px 5
      }
      button {
        border-radius: 10px; 
        border: none; 
        cursor: pointer; 
        padding: 10px; color: #057760;
        transition: .3s ease all; 
       } 
       button:hover { 
       background: #dbd2c1;
        color: #e7dee7;
         box-shadow: 3px 3px 50px rgba(0, 0, 0, 1.5);
        }